<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.marcin.hotkeys</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>80296D3B-9456-410C-8A5C-45EF9AC2B333</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45DE5DA4-0807-46D0-8316-9B86E00C3BFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC33EB68-87E2-4F50-B420-58B4ABDE6079</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A1A90DE-E8F0-49B7-BE91-E6FF08C37C82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB713185-4DA4-41ED-B120-4D63B3DAD326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FE8D8F3-2275-456F-9E20-A3261CA30382</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>marcin</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>App Activation - numbers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EB713185-4DA4-41ED-B120-4D63B3DAD326</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7FE8D8F3-2275-456F-9E20-A3261CA30382</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/MacVim.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2A1A90DE-E8F0-49B7-BE91-E6FF08C37C82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DC33EB68-87E2-4F50-B420-58B4ABDE6079</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>80296D3B-9456-410C-8A5C-45EF9AC2B333</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>45DE5DA4-0807-46D0-8316-9B86E00C3BFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The List Filter object allows you to pre-define options and pass it on to the next object.

In this workflow, you can choose from the list by using the keyword "feeling". You'll see options in Alfred's results, and selecting one of the results will make the relevant argument appear in Large Type on your screen.

For more advanced use of the List Filter object, take a look at the "To-do list using List Filters" example workflow.</string>
	<key>uidata</key>
	<dict>
		<key>2A1A90DE-E8F0-49B7-BE91-E6FF08C37C82</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>45DE5DA4-0807-46D0-8316-9B86E00C3BFA</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>7FE8D8F3-2275-456F-9E20-A3261CA30382</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>80296D3B-9456-410C-8A5C-45EF9AC2B333</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>DC33EB68-87E2-4F50-B420-58B4ABDE6079</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>EB713185-4DA4-41ED-B120-4D63B3DAD326</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
